* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    background: #d4d1d1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 60%;
    height: 500px;
    background: #fff;
    border-radius: 5px;
    padding: 20px 50px;
    color: #fff;
    background: linear-gradient(90deg, #088178, #00c4a7);
}

.form-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.left-panel {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title{
    margin-bottom: 15px;
    font-size: 30px;
}

.left-panel pre {
    font-size: 16px;
    line-height: 20px;
}

.submit-btn {
    outline: none;
    border: none;
    background: #088178;
    color: #fff;
    padding: 10px 30px;
    margin-top: 10px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s linear;
}

.submit-btn:hover{
    background: #062927;
}

.image {
    width: 400px;
    margin-top: 20px;
}

.right-panel {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form {
    width: 100%;
    text-align: center;
}

.input-field {
    height: 50px;
    width: 100%;
    background: #fdfdfd;
    margin: 10px 0;
    border-radius: 50px;
    display: flex;
    align-items: center;
    border: 2px solid #088178;
    overflow: hidden;
    transition: all 0.3s linear;
}

.input-field:hover {
    border-color:#062927;
}

.input-field i {
    color: #444;
    padding: 0 10px 0 20px;
}

.input-field input {
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
    color: #444;
    font-size: 18px;
}

.right-panel .social-media {
    margin: 20px 0;
}

.social-platforms {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-platforms .social-icon {
    margin: 0 10px;
    width: 50px;
    height: 50px;
    border: 1px solid #444;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-decoration: none;
    transition: all 0.2s linear;
    color: #444;
    font-size: 18px;
}

.social-platforms .social-icon:hover {
    border: 2px solid #062927;
    color: #062927;
}


/* Media query start */

@media (min-width: 1024px) and (max-width: 1400px){
    .container {
        width: 80%;
    }
}


/* Tablet view (768px to 1024px) */
@media (max-width: 1024px) {
    .container {
        width: 80%;
        height: auto;
        padding: 100px;
    }

    .form-container {
        flex-direction: column;
    }

    .left-panel, .right-panel {
        width: 100%;
    }

    .image {
        width: 300px;
    }
}

/* Mobile view (below 768px) */
@media (max-width: 768px) {
    .container {
        width: 90%;
        padding: 30px;
    }

    .form-container {
        flex-direction: column;
    }

    .left-panel, .right-panel {
        width: 100%;
        margin-bottom: 20px;
    }

    .title {
        font-size: 24px;
    }

    .image {
        width: 200px;
    }

    .input-field input {
        font-size: 16px;
    }

    .social-platforms .social-icon {
        width: 40px;
        height: 40px;
    }
}
